.day {
  padding: 20px;
  background-color: $background;
  color: $sandyBrown;
  display: flex;
  flex-direction: column;
  &-name {
    text-transform: capitalize;
    margin: 0 0 5px 0;
  }
  &-title {
    margin: 10px 0;
  }
  &-text {
    margin: 0;
  }
}
