.week {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  text-align: center;
  width: 70%;
  margin: 75px auto;
  padding: 20px;
  border: 5px solid $backgroundDarker;
  background-color: $backgroundLighter;
}
