$logoSmall: url("./assests/images/solorio-logo-small.svg");
$logo: url("./assests/images/solorio-logo.svg");

/* Colors */
$sandyBrown: #f4bd42;
$fireBrickLight: #c62025;
$fireBrickDark: #9c1d24;
$black: #291d23;
$sienna: #ac6530;
